pubflow/src/main/java/de/pubflow/components/jiraConnector/wsArtifacts/JiraEndpoint.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="pubflow.de" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="pubflow.de" name="JiraEndpointService">
<types>
<xsd:schema>
<xsd:import namespace="pubflow.de" schemaLocation="https://localhost:8890/JiraEndpoint?xsd=1" />
</xsd:schema>
</types>
<message name="createIssue">
<part name="parameters" element="tns:createIssue" />
</message>
<message name="createIssueResponse">
<part name="parameters" element="tns:createIssueResponse" />
</message>
<message name="createIssueType">
<part name="parameters" element="tns:createIssueType" />
</message>
<message name="createIssueTypeResponse">
<part name="parameters" element="tns:createIssueTypeResponse" />
</message>
<message name="changeStatus">
<part name="parameters" element="tns:changeStatus" />
</message>
<message name="changeStatusResponse">
<part name="parameters" element="tns:changeStatusResponse" />
</message>
<message name="addIssueComment">
<part name="parameters" element="tns:addIssueComment" />
</message>
<message name="addIssueCommentResponse">
<part name="parameters" element="tns:addIssueCommentResponse" />
</message>
<message name="getStatusNames">
<part name="parameters" element="tns:getStatusNames" />
</message>
<message name="getStatusNamesResponse">
<part name="parameters" element="tns:getStatusNamesResponse" />
</message>
<message name="createProject">
<part name="parameters" element="tns:createProject" />
</message>
<message name="createProjectResponse">
<part name="parameters" element="tns:createProjectResponse" />
</message>
<message name="addAttachment">
<part name="parameters" element="tns:addAttachment" />
</message>
<message name="addAttachmentResponse">
<part name="parameters" element="tns:addAttachmentResponse" />
</message>
<message name="addWorkflow">
<part name="parameters" element="tns:addWorkflow" />
</message>
<message name="addWorkflowResponse">
<part name="parameters" element="tns:addWorkflowResponse" />
</message>
<message name="removeAttachment">
<part name="parameters" element="tns:removeAttachment" />
</message>
<message name="removeAttachmentResponse">
<part name="parameters" element="tns:removeAttachmentResponse" />
</message>
<portType name="JiraEndpoint">
<operation name="createIssue">
<input wsam:Action="pubflow.de/JiraEndpoint/createIssueRequest" message="tns:createIssue" />
<output wsam:Action="pubflow.de/JiraEndpoint/createIssueResponse" message="tns:createIssueResponse" />
</operation>
<operation name="createIssueType">
<input wsam:Action="pubflow.de/JiraEndpoint/createIssueTypeRequest" message="tns:createIssueType" />
<output wsam:Action="pubflow.de/JiraEndpoint/createIssueTypeResponse" message="tns:createIssueTypeResponse" />
</operation>
<operation name="changeStatus">
<input wsam:Action="pubflow.de/JiraEndpoint/changeStatusRequest" message="tns:changeStatus" />
<output wsam:Action="pubflow.de/JiraEndpoint/changeStatusResponse" message="tns:changeStatusResponse" />
</operation>
<operation name="addIssueComment">
<input wsam:Action="pubflow.de/JiraEndpoint/addIssueCommentRequest" message="tns:addIssueComment" />
<output wsam:Action="pubflow.de/JiraEndpoint/addIssueCommentResponse" message="tns:addIssueCommentResponse" />
</operation>
<operation name="getStatusNames">
<input wsam:Action="pubflow.de/JiraEndpoint/getStatusNamesRequest" message="tns:getStatusNames" />
<output wsam:Action="pubflow.de/JiraEndpoint/getStatusNamesResponse" message="tns:getStatusNamesResponse" />
</operation>
<operation name="createProject">
<input wsam:Action="pubflow.de/JiraEndpoint/createProjectRequest" message="tns:createProject" />
<output wsam:Action="pubflow.de/JiraEndpoint/createProjectResponse" message="tns:createProjectResponse" />
</operation>
<operation name="addAttachment">
<input wsam:Action="pubflow.de/JiraEndpoint/addAttachmentRequest" message="tns:addAttachment" />
<output wsam:Action="pubflow.de/JiraEndpoint/addAttachmentResponse" message="tns:addAttachmentResponse" />
</operation>
<operation name="addWorkflow">
<input wsam:Action="pubflow.de/JiraEndpoint/addWorkflowRequest" message="tns:addWorkflow" />
<output wsam:Action="pubflow.de/JiraEndpoint/addWorkflowResponse" message="tns:addWorkflowResponse" />
</operation>
<operation name="removeAttachment">
<input wsam:Action="pubflow.de/JiraEndpoint/removeAttachmentRequest" message="tns:removeAttachment" />
<output wsam:Action="pubflow.de/JiraEndpoint/removeAttachmentResponse" message="tns:removeAttachmentResponse" />
</operation>
</portType>
<binding name="JiraEndpointPortBinding" type="tns:JiraEndpoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="createIssue">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createIssueType">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="changeStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addIssueComment">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getStatusNames">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createProject">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addAttachment">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addWorkflow">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="removeAttachment">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="JiraEndpointService">
<port name="JiraEndpointPort" binding="tns:JiraEndpointPortBinding">
<soap:address location="https://localhost:8890/JiraEndpoint" />
</port>
</service>
</definitions>